/* Global Styles */
body {
	font-family: "Inter", sans-serif;
	background-color: #E3DFDF;
	color: 
}

main {
	overflow: hidden;
}

header {
	background-color: #873A47;
	padding: 16px;
}

section {
	padding: 86px 0px;
	margin: 0px;
	border: none;
}

.padding-none {
	padding: 0;
}

footer {
	padding: 86px 0px;
	margin: 0px;
	border: none;
}







/* Navigation */

nav, li {
	list-style: none;
	padding-left: 0;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 16px;
	padding-left: 0px;
}

.nav-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}




/* Headers & Paragraphs */
h1 {
	font-size: 78px;
	line-height: 100%;
	font-weight: 700;
	letter-spacing: -2px;
	color: #523E37;
}

h2 {
	font-size: 53px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #523E37;
	margin-top: 0px;
	margin-bottom: 16px;
}

h2w {
	font-size: 53px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #E3DFDF;
	margin-top: 0px;
	margin-bottom: 16px;
}

h3 {
	font-size: 32px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #523E37;
	margin: 0px;
}

h3w {
	font-size: 32px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #E3DFDF;
	margin: 0px;
}

p {
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	color: #523E37;
}

pw {
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	color: #E3DFDF;
}

psmall {
	font-size: 12px;
	line-height: 140%;
	font-weight: 400;
	color: #523E37;
}

li {
	line-height: 140%;
}

.paragraph-large {
	font-size: 40px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #523E37;
}



/*Backgrounds & Colors */
.background-white {
	background-color: #E3DFDF;
}

.background-brown-dark {
	background-color: #846D5D;
}

.background-brown-light {
	background-color: #BBA7A0;
}

.background-brown-medium {
	background-color: #968277;
}

/*"CARD" = Row align but for columns*/

.card-image {
	width: 100%;
}

.card-image-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.card-icon{
	height: 84px;
}


/* Buttons */

.button-small {
	display: inline-block;
	color: white;
	padding: 10px 18px;
	background-color: #523E37;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.2s ease;
	border-radius: 25px;
}



/* Cards & Images */

.card-icon{
	height: 84px;
}


/* NEWSLETTER */
.input-label {
	color: dark grey;
	display: block;
	margin-bottom: 8px;
}

.input-text {
	border: none;
	height: 35px;
	width: 100%;
	padding: 8px;
}

.input-message {
	border: none;
	height: 200px;
	width: 100%;
	padding: 8px;
	grid-area: 2 / 1 / span 1 / span 2;
}

.newsletter-form {
	display: grid;
	grid-template: auto / 1fr 1fr;
	gap: 24px;
	align-items: flex-end;
}

.message-area {
	grid-column: 1 / span 2;
}

.text-area {
	width: 100%;
	height: 300px;
}







