/* Global Styles */
body {
	font-family: "Inter", sans-serif;
	background-color: #E3DFDF;
	color: 
}

main {
	overflow: hidden;
}

header {
	background-color: #873A47;
	padding: 16px;
}

section {
	padding: 86px 0px;
	margin: 0px;
	border: none;
}

.padding-none {
	padding: 0;
}

footer {
	padding: 86px 0px;
	margin: 0px;
	border: none;
}







/* Navigation */

nav, li {
	list-style: none;
	padding-left: 0;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 16px;
	padding-left: 0px;
}

.nav-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo-text {
	font-size: 57px;
	font-weight: 700;
	color: #523E37;
	text-decoration: none;
}

.nav-text {
	font-size: 18px;
	font-weight: 200;
	color: #523E37;
	text-decoration: none;
}

.hamburger {
	width: 30px;
	height: 20px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #FFF4E2;
}




/* Headers & Paragraphs */
h1 {
	font-size: 78px;
	line-height: 100%;
	font-weight: 700;
	letter-spacing: -2px;
	color: #523E37;
}

h2 {
	font-size: 53px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #523E37;
	margin-top: 0px;
	margin-bottom: 16px;
}

.h2w {
	font-size: 53px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #E3DFDF;
	margin-top: 0px;
	margin-bottom: 16px;
}

h3 {
	font-size: 32px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #523E37;
	margin: 0px;
}

.h3w {
	font-size: 32px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #E3DFDF;
	margin: 0px;
}

p {
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	color: #523E37;
}

.pw {
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	color: #E3DFDF;
}

.psmall {
	font-size: 12px;
	line-height: 140%;
	font-weight: 400;
	color: #523E37;
}


.plarge {
	font-size: 40px;
	line-height: 120%;
	font-weight: 200;
	letter-spacing: -1px;
	color: #523E37;
}
	


.text-center {
	text-align: center;
}

.text-black {
	color: #1E1E1E;
	text-decoration: none;
}

li {
	line-height: 140%;
}



/*Backgrounds & Colors */
.background-white {
	background-color: #E3DFDF;
}

.background-brown-dark {
	background-color: #846D5D;
}

.background-brown-light {
	background-color: #BBA7A0;
}

.background-brown-medium {
	background-color: #968277;
}

/*"CARD" = Row align but for columns*/

.card-image {
	width: 100%;
}

.card-image-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.card-icon{
	height: 84px;
}

.footer-icon {
	height: 27px;
}

.footer-icon-wrap {
	display: flex;
	gap: 10px;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 61px;
}

.footer-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* Buttons */

.button-small {
	display: inline-block;
	color: white;
	padding: 10px 18px;
	background-color: #523E37;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.2s ease;
	border-radius: 25px;
}

.button-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}



/* Cards & Images */

.card-icon{
	height: 84px;
}

.map-image {
	width: 100%;
}

.hero-image {
	width: 100%;
	aspect-ratio: 15 / 17;
	overflow: hidden;
	max-height: 600px;
	position: relative;
}

.hero-image-crop {
	width:100%; 
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/* NEWSLETTER */
.input-label {
	color: dark grey;
	display: block;
	margin-bottom: 8px;
}

.input-text {
	border: none;
	height: 35px;
	width: 100%;
	padding: 8px;
}

.input-message {
	border: none;
	height: 200px;
	width: 100%;
	padding: 8px;
	grid-area: 2 / 1 / span 1 / span 2;
}

.newsletter-form {
	display: grid;
	grid-template: auto / 1fr 1fr;
	gap: 24px;
	align-items: flex-end;
}

.sign-up {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.message-area {
	grid-column: 1 / span 2;
}

.text-area {
	width: 100%;
	height: 300px;
}

.input-field {
	border: solid 3px #ffffff;
	background: none;
	padding: 20px 27px;
	color: #ffffff;
	margin-bottom: 16px;
}

.input-field::placeholder {
	color: #ffffff;
}



@media screen and (max-width:478px) {

	.menu {
		display: none;
	}
	.cta-wrap {
		display: none;
	}
	
/* TYPOGRAPHY */
	h1 {
		font-size: 58px; 
	}
	h2 {
		font-size: 44px;
	}
	h3 {
		font-size: 28px;
	}

	.logo-text {
	font-size: 57px;
	font-weight: 700;
	color: #523E37;
	text-decoration: none;
	display: block;
}

.newsletter-form {
	display: grid;
	grid-template: 1fr / 1fr;
	gap: 16px;
	align-items: start;
	}

	.hamburger {
	width: 30px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #FFF4E2;
}

}









